* {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
}

*:focus {
  outline: none;
  border: none;
  color: initial;
}

.app {
  background: radial-gradient(
    circle at 50% 20%,
    rgba(29, 52, 84, 0.842),
    rgba(21, 24, 59)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.symbols {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 55px;
  margin-bottom: 25px;
}

.score {
  background-color: rgb(252, 252, 252);
  color: rgb(73, 73, 73);
  height: 85px;
  width: 110px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 510px;
  padding: 13px 18px;
  border: 2px solid rgba(255, 255, 255, 0.452);
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 47px;
  z-index: 1;
}

.header .logo {
  height: 80px;
  font-weight: bolder;
  color: white;
  display: flex;
  align-items: center;
}

.header img {
  height: 100%;
}

.score h4 {
  color: rgb(94, 94, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  font-size: 12px;
  text-transform: uppercase;
}

.score p {
  transform: scale(2.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  padding-top: 6px;
}

.sym-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../public/images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 75% 75%;
  background-position: center 55px;
}

.rule-container {

  margin-bottom: 0px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.results {
  display: flex;
  gap: 60px;
  align-items: center;
}

.result {
  font-size: 35px;
  font-weight: 800;
  word-spacing: -12px;
}

.result-container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.control {
  display: flex;
  gap: 10px;
}

.score p {
  font-family: "Roboto";
}

.Full-container {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.tryAgain {
  background-color: white;
  color: rgba(21, 24, 59);
  padding: 8px 45px;
  padding-left: 45px;
  padding-right: 45px;
  font-size: smaller;
  border: 2px solid rgba(255, 255, 255, 0.452);
  transition: background 0.3s;
}

.tryAgain:hover {
  background: none;
  color: white;
}


.father {
  background-color: rgba(2, 2, 2, 0.5);
  position: fixed;
  inset: 0;
  backdrop-filter: blur(8px);
  z-index: 10;
}




