.big-cyrcle {
  height: 160px;
  width: 160px;
  background-color: rgba(230, 230, 230);
  border-radius: 50%;
  border: 30px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(0, 0, 0, 0.2); /* depth */
}
