.cyrcle {
  width: 110px;
  height: 110px;
  background-color: rgba(230, 230, 230);
  border-radius: 50%;
  border: 19px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(0, 0, 0, 0.2);
}

.cyrcle:hover {
  transform: scale(1.1);
  cursor: pointer;
}
